.good-form {

  display: flex;
  border-radius: 5px;
  background-color: $pink;
  padding: 20px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin: 0 10px;
  display: inline-flex;
  border: 1px solid $lavender;
  border-radius: 5px;
  box-sizing: border-box;
}

select {
  width: 10%;
  padding: 8px;
  display: inline-flex;
  border: 1px solid $lavender;
  background-color: $white;
  border-radius: 5px;
  box-sizing: border-box;
}


.search-form {
  display: flex;
  border-radius: 5px;
  background-color: $pink;
  padding: 20px;
}
