.header {
  background-color: rgba(0, 0, 0, 0);
  height: 150px;
  padding: 20px;
  color: $lavender;
  text-align: center;
}

.header__logo {
  animation: logo-spin infinite 2500ms linear;
  height: 80px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
