.header {
  background-color: rgba(0, 0, 0, 0);
  height: $header-height;
  margin-bottom: $header-height;
  color: $lavender;
  text-align: center;
}

.header__img {
  height: $header-height;
  position: absolute;
}

.header__logo {
  animation: logo-spin infinite 2500ms linear;
  height: 60px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
