.modal-user-gallery {
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: absolute;
  padding: 1em;
  margin-bottom: 0.5em;
  max-height: 100%;
  overflow-y: scroll;
  max-width: 65%;
  text-align: center;
  top: 5%;
  right: 15%;
}

.modal-gallery img {
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: absolute;;
  padding: 1em;
  margin-bottom: 0.5em;
  height: auto;
  width: auto;
  max-width: 65%;
  top: 5%;
  left: 15%;
}
