///typeface
$text-font-sans: 'Palanquin', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$text-font-serif: 'Playfair Display', serif;
$code-font-stack: 'Inconsolata', monospace;

$header-height: 120px;

//media breakpoints
$breakpoint-large: 1024px;
$breakpoint-medium: 768px;
$breakpoint-mobile: 480px;

//colors
$beige: #fdf8ec;
$ecru: #dbdcce;
$pink-light: #fff0f5;
$pink: #eed8cd;
$blue-slate: #4a6088;
$blue-persian: #08084d;
$blue-med: #0074d9;
$green-hunter: #2d6759;
$lavender: #c3b1b0;
$chartreuse: #7fff00;
$purple-light: #ce93d8;
$periwinkle: #add8e6;
$white: #fff;
$black: #000;
$grey: #384040;
$slate-blue: #6C9090;
$dark-green: #2D6759;
$granite: #3F5051;
$dove-grey: #D0C9B9;
$dusty-rose: #C68B82;
$royale-blue: #0f1937;
$tan: #ae9671;
$grey-blue: #ccdbdd;
$deep-red: #9e1c40;
$soft-pink: #e6ddde;
$grey-blu: #7a8c8c;
$sunshine-yel: #fff1b5;
$orange-yel: #ffb618;
$red: #ff0000;
$salmon: #FFAD84;
$orange-salmon: #ffc784;


//main colors
$bg-color: $beige;
$main-text-color: $grey;
// $header-color: $blue-persian;
$header-color: $blue-persian;
$header-bg-color: $grey-blue;
// $header-bg-color: #bbe3e3;
// $header-bg-color: $ecru;
$a: $blue-slate;
// $a-hover: $green-hunter;
$a-hover: $orange-yel;


//button color
$button-default: $grey;
$button-hover: $blue-slate;
$button-active: $blue-med;
$button-bg: $white;

//form colors
// $form-bg: $pink;
$form-bg: $orange-salmon;
$input-border: $lavender;
