///typeface
$text-font-sans: 'Palanquin', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$text-font-serif: 'Playfair Display', serif;
$code-font-stack: 'Inconsolata', monospace;

$header-height: 120px;

//media breakpoints
$breakpoint-large: 1024px;
$breakpoint-medium: 768px;
$breakpoint-mobile: 480px;

//colors
$beige: #fdf8ec;
$ecru: #dbdcce;
$pink-light: #fff0f5;
$pink: #eed8cd;
$blue-slate: #4a6088;
$blue-persian: #08084d;
$blue-med: #0074d9;
$green-hunter: #2d6759;
$lavender: #c3b1b0;
$chartreuse: #7fff00;
$purple-light: #ce93d8;
$periwinkle: #add8e6;
$white: #fff;
$black: #000;
$grey: #384040;

//main colors
$bg-color: $beige;
$main-text-color: $grey;
$header-color: $blue-persian;
$header-bg-color: $ecru;
$a: $blue-slate;
$a-hover: $green-hunter;

//button color
$button-default: $grey;
$button-hover: $blue-slate;
$button-active: $blue-med;
$button-bg: $white;

//form colors
$form-bg: $pink;
$input-border: $lavender;
