.metro {
  width: 880px;
  margin: 0 auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.sm {
  position: relative;
  width: 150px;
  height: 150px;
  background: #111;
  margin: 5px;
  overflow: hidden;
}

.md {
  position: relative;
  width: 300px;
  height: 150px;
  background: #111;
  margin: 5px;
  overflow: hidden;
}

.lg {
  position: relative;
  width: 400px;
  height: 310px;
  background: #111;
  margin: 5px;
  overflow: hidden;
}

.seeallmd {
  width: 100px;
  height: 150px;
  background: #fff;
  position: absolute;
  right: -100px;
  transition: all 1s;
  z-index: 100;
}

.seeallmd h1 {
  font-size: 6em;
  text-align: center;
  margin-top: 10px;
}

.seeallsm {
  width: 150px;
  height: 50px;
  background: #fff;
  position: absolute;
  bottom: -50px;
  transition: all 1s;
  z-index: 100;
}

.seeallsm h1 {
  font-size: 3em;
  text-align: center;
  margin-top: -10px;
}

.seealllg {
  width: 400px;
  height: 100px;
  background: #fff;
  position: absolute;
  top: -100px;
  transition: all 1s;
  z-index: 100;
}

.seealllg h1 {
  font-size: 6em;
  text-align: center;
  margin-top: -20px;
}
